:root{
    --cor-branco:#ffffff;
    --cor-preto:#000000;
    --cor-principal:#57e690;
    --cor-fundo:#0a0a22;
    --cor-fundo2:#191933;
    --bold:'mark-pro-bold';
    --regular:'mark-pro-regular';
}
